@font-face {
    font-family: "RobotoBlack";
    src: url("../fonts/Roboto-Black.ttf");
    font-style: normal;
    font-weight: normal;
}

@font-face {
    font-family: "RobotoBlackItalic";
    src: url("../fonts/Roboto-BlackItalic.ttf");
    font-style: normal;
    font-weight: normal;
}

@font-face {
    font-family: "RobotoBold";
    src: url("../fonts/Roboto-Bold.ttf");
    font-style: normal;
    font-weight: normal;
}

@font-face {
    font-family: "RobotoBoldItalic";
    src: url("../fonts/Roboto-BoldItalic.ttf");
    font-style: normal;
    font-weight: normal;
}

@font-face {
    font-family: "RobotoItalic";
    src: url("../fonts/Roboto-Italic.ttf");
    font-style: normal;
    font-weight: normal;
}
@font-face {
    font-family: "RobotoLight";
    src: url("../fonts/Roboto-Light.ttf");
    font-style: normal;
    font-weight: normal;
}
@font-face {
    font-family: "RobotoLightItalic";
    src: url("../fonts/Roboto-LightItalic.ttf");
    font-style: normal;
    font-weight: normal;
}
@font-face {
    font-family: "RobotoMedium";
    src: url("../fonts/Roboto-Medium.ttf");
    font-style: normal;
    font-weight: normal;
}
@font-face {
    font-family: "RobotoMediumItalic";
    src: url("../fonts/Roboto-MediumItalic.ttf");
    font-style: normal;
    font-weight: normal;
}
@font-face {
    font-family: "RobotoRegular";
    src: url("../fonts/Roboto-Regular.ttf");
    font-style: normal;
    font-weight: normal;
}
@font-face {
    font-family: "RobotoThin";
    src: url("../fonts/Roboto-Thin.ttf");
    font-style: normal;
    font-weight: normal;
}
@font-face {
    font-family: "RobotoThinItalicb";
    src: url("../fonts/Roboto-ThinItalic.ttf");
    font-style: normal;
    font-weight: normal;
}

*{font-family: "RobotoRegular";  color: black;   font-size: 16px;}
.floatr{float:right;}
.floatl{float:left;}
input:focus,select:focus { outline: none; }

header,footer {background:#4D4D4D;padding:15px 0;}
.box-hello{color:white; font-family: "RobotoBold"; font-size: 19px;}
.box-balance{color:white; font-family: "RobotoRegular"; font-size: 17px;}
.udalit{background:url(../img/udalit.png) center center no-repeat;     background-size: cover;   height: 26px;    width: 26px;  position: absolute;     right: 10px;}
.green-window{       margin: 16px 0;    position: relative;   padding: 10px 20px;  background: rgba(166, 207, 143, 0.65);}
.red-window{      margin: 16px 0;    position: relative;    padding: 10px 20px;  background: rgba(249, 88, 26, 0.7);}
.new-title{    font-family: "RobotoBold";    color: black; font-size: 24px; text-transform: uppercase;}
.new-text{}
.new-text a{color:black; text-decoration: underline;}
.exit{background:url(../img/exit.png) center center no-repeat;     background-size: cover;   height: 24px;    width: 25px;     margin-top: 16px;     margin-left: 30px;}
.btn-plus{      color: white;    border: 2px solid white;    padding: 6px 16px;    font-size: 16px;    border-radius: 4px;    margin-top: 9px;}
.main-menu{background:#F9581A; border-bottom:5px solid #BD230B;       text-align: center;   padding: 7px 0 5px 0;}
#mainMenu  .navbar-nav{    float: none;}
#mainMenu {/*display: inline-block !important;*/}
.navbar-default .navbar-nav>li>a{color:black;     font-size: 18px;     padding: 4px 15px;}
.navbar-default .navbar-nav>li>a:hover{color:white;}
#mainMenu .navbar-nav li{    border-right: 2px solid #BD230B;}
#mainMenu .navbar-nav li:last-child{border:none;}
.text-foot{color:white;}
.text-foot2{color:#808080;}
.text-foot a{color:#808080;}
.box-footer-contakt{padding: 10px 0 40px;}
.mail-footer{color:white; padding-left:35px;/*background:url(../img/pochta.png) left center no-repeat;*/ line-height: 27px;     display: inline-block;}
.mail-footer a,.phone-footer a{color:white;}
.phone-footer{color:white; padding-left:35px;/*background:url(../img/telefon.png) left center no-repeat;*/ line-height: 27px;     display: inline-block; margin-left: 10px;}
#mainMenu .activ a{color:white}
.big-container{background:#E6E6E6 url(../img/fonall.png) top  center repeat; padding:10px 0 215px 0; }
.bread-crumbs{}
.bread-crumbs a{color:black;    font-size: 14px; float:left;}
.bread-crumbs div{color:black; text-decoration: underline;    font-size: 14px; float:left;}
.ukaz{background:url(../img/hleb.png) left center no-repeat; float:left;      margin: 7px 10px 0 10px;  width: 13px;    height: 6px;}
.title-reg{    font-family: "RobotoBold";  color:black;  font-size: 26px;     padding: 24px 0 12px 0;;}
.title-reg-small a{padding-left: 40px;  color:black;  text-decoration: underline;}
.title-reg-l{  font-family: "RobotoBold";  color:black;  font-size: 26px; padding: 24px 0 0 40px;  }
.box-form-reg{width: 80%;    margin: 0 auto;}
.box-form-reg-all{width: 100%;}
.field-form{background:white; border:2px solid #B3B3B3; border-radius:4px;     width: 100%;     padding: 14px;    margin-bottom: 22px;}
.field-email{background:#fff url(../img/pochta1.png) 0   center no-repeat;    padding-left: 55px;}
.field-phone{background:#fff url(../img/tel.png) 0 center no-repeat;    padding-left: 55px;}
.field-pass{background:#fff url(../img/parol.png) 0 center no-repeat;    padding-left: 55px;}
input[type="text"]:focus,input[type="email"]:focus,select:focus,.field-form:focus{border:2px solid #909090;} 
.box-btn-form-reg{ background:url(../img/knopka.png) left center no-repeat;    width: 366px;    height: 131px;       text-align: left;  margin-left: 65px;}
.btn-form-reg{background:url(../img/knopkain.png)   center no-repeat;   color:white; font-family: "RobotoBold";  border: none;  font-size: 24px; width: 239px;    height: 54px;     border-radius: 7px; }
.btn-form-reg:hover,.btn-form-reg:focus {background:url(../img/knopkaina.png)   center no-repeat;    background-size: cover;   }
::-webkit-input-placeholder { color: black;}
:-moz-placeholder { color: black;  }
::-moz-placeholder { color: black;  }
:-ms-input-placeholder {color: black; }
.step{ width:80%; margin:0 auto;     padding: 20px 0; }
.step-1{background: url(../img/num1.png) left 20px no-repeat;    padding-left: 40px;}
.step-2{background: url(../img/num2.png) left 20px no-repeat;    padding-left: 40px;}
.step-3{background: url(../img/num3.png) left 20px no-repeat;    padding-left: 40px;}
.step-4{background: url(../img/num4.png) left 20px no-repeat;    padding-left: 40px;}
.step-5{background: url(../img/num5.png) left 20px no-repeat;    padding-left: 40px;}
.step-6{background: url(../img/num6.png) left 20px no-repeat;    padding-left: 40px;}
.step-7,.step-8{padding-left: 40px;}
.line{height:2px; width:100%;border-bottom:1px solid #ffffff; background:#666666 }
.title-step {    font-size: 18px;     padding-bottom: 4px;}
.field-form-sel{ background: #ffffff url(../img/strelka.png) 98% 9px no-repeat;   border:2px solid #B3B3B3; border-radius:4px; width: 104%;    padding: 14px;    margin-bottom: 22px;}
.field-form-sel-box{width: 100%; overflow: hidden; border-right: 2px solid #B3B3B3; border-radius: 4px; display: inline-block; height: 55px;}
.step .field-form{    margin-bottom: 0;}
.toerror{color:#BF180F;font-size: 14px;}
.for-btn{padding-bottom:10px;      width: 100%;    display: inline-block;}
.btn-grey{    border-radius: 5px; background:  url(../img/btngrey.png) center no-repeat;    color: white;    width: 160px;    padding: 10px;
   text-align: center;    font-size: 18px;    background-size: cover;}
.btn-grey:focus,.btn-grey:hover{background:  url(../img/btngreya.png) center no-repeat;     background-size: cover;}
.btn-red{    border-radius: 5px; background: url(../img/btnred.png) center no-repeat;    color: white;    width: 160px;    padding: 10px;    text-align: center;    font-size: 18px;    background-size: cover;}
.btn-red:hover,.btn-red:focus{background: url(../img/btnreda.png) center no-repeat; background-size: cover;}
.title-dop{ font-size: 18px;     padding-bottom: 4px; font-family: "RobotoBold"; }
.btn-form-big{background:  url(../img/bigbtn.png) center no-repeat;    color: white;     width: 100%; border-radius: 6px;
    border: none;    padding: 14px;    font-size: 20px;    background-size: cover;}
.btn-form-big:hover,.btn-form-big:focus{background:  url(../img/bigbtna.png) center no-repeat;         background-size: cover; }
input[type="checkbox"],input[type=radio]{display: none;}

label {	display: inline-block;	cursor: pointer;	position: relative;	padding-left: 25px;	margin-right: 15px;    font-size: 18px;
      font-weight: 100;     width: 100%;color:#525252 }
label[type="checkbox"]:before {	content: "";	display: inline-block;	width: 21px;	height: 21px;margin-right: 10px;	position: absolute;	left: 0;	bottom: 1px;	 background:  url(../img/kvadrat1.png)  no-repeat;   }
input[type="checkbox"]:checked + label:before {	 background:  url(../img/gal.png)  no-repeat;}
input[type=radio]:checked + label:before { background:  url(../img/kvadrat2.png)  no-repeat;}
.num-golos label{color:#525252;}
.vidrass{padding:4px 0 10px 0}
.num-golos{ padding-left: 60px;display: inline-block;  width: 100%;   margin-top: 4px; }
.inchek{padding-left: 26px;    padding-bottom: 10px;}
.num-golos-1{background: url(../img/num1g.png) left 0 no-repeat;   }
.num-golos-2{background: url(../img/num2g.png) left 0 no-repeat; }
.num-golos-3{background: url(../img/num3g.png) left 0 no-repeat; }
.mailingtable,.litehlrtable,.referralstable,.historitable{     border-collapse: separate;   border-spacing: 4px 0px;}
tr th{text-align:center;    font-weight: 100;      background: #999999;     border: 2px solid #999999;     vertical-align: middle !important;}
tr td{background:#ffffff;    border: 2px solid #999999;    vertical-align: middle !important;}
.table>tbody>tr>th{ border: 2px solid #999999;}
.btn-load {background:  url(../img/bigbtn.png) center no-repeat;  color:white;  padding:8px 6px;     border-radius: 5px; }
.btn-load:hover,.btn-load:focus{background:  url(../img/bigbtna.png) center no-repeat; background-size: cover;}
.icon-load{background:  url(../img/skachat.png) center no-repeat;    height: 26px;    width: 32px;   margin-top: -2px;  float: right;}
.btn-form-small{       border-radius: 5px;  background: url(../img/btnred.png) center no-repeat;    color: white;    width: 160px;    padding: 10px;    text-align: center;    font-size: 18px;    background-size: cover;    border: none; margin-top:20px;}
.btn-form-small:hover,.btn-form-small:focus{   background: url(../img/btnreda.png) center no-repeat;    background-size: cover;  }
.step p{    font-size: 14px;    color: #3A3A3A;}
.bdtable{   border-collapse: separate;   border-spacing: 4px 0px;}
.bdtable img,.litehlrtable img{padding-right:10px;}
.padbot0{padding-bottom:0 !important;}
.bdtable tr th:last-child,.litehlrtable tr th:last-child{background:none; border:none}
.bdtable tr td:last-child,.litehlrtable tr td:last-child{background:none; border:none}
.delete{background: url(../img/udalit.png) center no-repeat; height:24px;width:24px;display: inline-block; }
.deletea{color:black; font-size:14px;}
.simple-title{padding: 14px 0; font-family: "RobotoBold"; font-size:20px;}
.litehlrtable span{    color: #BF180F;    font-size: 12px;}
.btn-form-big-grey{    margin: 8px 0 5px 0; background: url(../img/greybig.png) center no-repeat;    color: white;        padding: 10px 23px;    text-align: center;    font-size: 18px;    background-size: cover;    margin-right: 10px; border: none; border-radius: 6px;}
.btn-form-big-grey:focus,.btn-form-big-grey:hover{background: url(../img/greybiga.png) center no-repeat;  background-size: cover;}
.btn-form-big-red{    margin: 8px 0 5px 0; background: url(../img/btnred.png) center no-repeat;    color: white;        padding: 10px 23px;    text-align: center;    font-size: 18px;    background-size: cover;    margin-right: 10px; border: none; border-radius: 6px;}
.btn-form-big-red:focus, .btn-form-big-red:hover{background: url(../img/btnreda.png) center no-repeat;   background-size: cover; }
.referralstable{}
.boldtext{    font-family: "RobotoBold";     font-size: 16px !important;}
.title-step-ref{font-family: "RobotoBold";      font-size: 18px;}
.marleft-ref{margin-left: 58px;}
.padbtop0{padding-top:0 !important;}
.field-form-sq{    background: white;    border: 2px solid #B3B3B3;       width: 60%;    padding: 6px;    margin-bottom: 22px;}
.text-ref span{ font-family: "RobotoBold"; }
.step .simple-title{padding-top:0;}
.dropdown-menus{background: #F9581A; border:none; display:none;  padding: 8px 6px;    width: 180px;  list-style: none;     position: absolute;  }
.dropdown-menus a {color:black}
.dropdowns:hover .dropdown-menus{display:block;  }
.w100{width:100%;margin-top:10px;}
.stepwinum{    width: 70%;    margin: 0 auto;    padding: 20px 0;}
.stepwinum .field-form{margin:0;}
.stepwinum  form{margin-bottom:20px;}
.dropdown-menus>li>a:focus, .dropdown-menus>li>a:hover{background: #FF4224; border:none; color:white}
.dropdowns:hover .caret{color:white;}
.navbar-default .navbar-toggle .icon-bar{color:white;}
#fpass { font-family: "RobotoMedium";color: black; font-size: 16px;border-top: 1px solid black; border-radius: 0;} 
#newuser .btn{font-family: "RobotoMedium";color: black; font-size: 16px;} 
.btn.focus, .btn:focus, .btn:hover {outline: none !important; box-shadow: none !important;} 
.navbar-default .navbar-nav>.active>a, .navbar-default .navbar-nav>.active>a:focus, .navbar-default .navbar-nav>.active>a:hover{color: white !important; background: none !important;} 
.btnpodskazka { 
text-align: center; 
display: inline-block; 
margin: 10px 0; 
height: 20px; 
width: 20px;
/*background: black; 
border-radius: 50%;*/
}
.otleft { margin: 0 0 0 10px;}
/*.fa { 
color: white;
}*/
body { min-height: 100vh; background: #E6E6E6 url(../img/fonall.png) top center repeat; position: relative;}
footer { bottom: 0; position: absolute; width: 100%;}
@media screen and (max-width: 990px) {
	.box-btn-form-reg{    background: none;    width: 100%;     margin-left: 0; text-align: center;}
	.btn-form-reg{width: inherit; margin: 0 auto;display: inline-block;}
    footer { position: relative;}
    .big-container { padding:10px 0 30px 0;}
}

@media screen and (max-width: 780px){
	#mainMenu .navbar-nav li{border-right:none; text-align: center;}
	.caret,.ukaz{display:none;}
	.dropdown-menus{  width:100%;  display: inline-block;box-shadow: none; padding: 0;    }
	.dropdown-menus>li>a{color: black;    font-size: 18px;}
	#mainMenu{height: 225px;}
	.bread-crumbs{}
	.bread-crumbs a{    width: 100%;}
	.btn-grey{    margin-bottom: 8px;}
	.dropdown-menus {position: relative;}
	.dropdowns:hover .dropdown-menus{display:block; position: relative;}

}
@media screen and (max-width: 520px) {
	.btn-form-big-red,.btn-form-big-grey{font-size: 15px; word-break: break-word;       padding: 10px 13px;  max-width: 100%;}
	.mail-footer{margin-bottom:10px;}
	.step,.stepwinum{    width: 100%;}
	.num-golos{    padding-left: 42px;}
	.title-reg-l{padding: 10px 0 4px 0;}
	.title-reg-small a{    padding-left: 0;}
	.icon-load {display:none;}
	.marleft-ref{    margin-left: 0;}
}

ul.itemperpage {
    float: right;
}

ul.itemperpage li a {
    margin: 0 4px;
}

ul.pagination {
    display: inline-block;
    padding: 0;
    margin: 0;
}

ul.pagination li {display: inline;}

ul.pagination li a {
    color: black;
    float: left;
    padding: 8px 16px;
    text-decoration: none;
    transition: background-color .3s;
}

ul.pagination li a.active {
    background-color: #4CAF50;
    color: white;
}

ul.pagination li a:hover:not(.active) {background-color: #ddd;}

.pace {
  -webkit-pointer-events: none;
  pointer-events: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
}

.pace-inactive {
  display: none;
}

.pace .pace-progress {
  background: #e96516;
  position: fixed;
  z-index: 2000;
  top: 0;
  right: 100%;
  width: 100%;
  height: 2px;
}

.pace .pace-progress-inner {
  display: block;
  position: absolute;
  right: 0px;
  width: 100px;
  height: 100%;
  box-shadow: 0 0 10px #e96516, 0 0 5px #e96516;
  opacity: 1.0;
  -webkit-transform: rotate(3deg) translate(0px, -4px);
  -moz-transform: rotate(3deg) translate(0px, -4px);
  -ms-transform: rotate(3deg) translate(0px, -4px);
  -o-transform: rotate(3deg) translate(0px, -4px);
  transform: rotate(3deg) translate(0px, -4px);
}

.pace .pace-activity {
  display: block;
  position: fixed;
  z-index: 2000;
  top: 15px;
  right: 15px;
  width: 14px;
  height: 14px;
  border: solid 2px transparent;
  border-top-color: #e96516;
  border-left-color: #e96516;
  border-radius: 10px;
  -webkit-animation: pace-spinner 400ms linear infinite;
  -moz-animation: pace-spinner 400ms linear infinite;
  -ms-animation: pace-spinner 400ms linear infinite;
  -o-animation: pace-spinner 400ms linear infinite;
  animation: pace-spinner 400ms linear infinite;
}

@-webkit-keyframes pace-spinner {
  0% { -webkit-transform: rotate(0deg); transform: rotate(0deg); }
  100% { -webkit-transform: rotate(360deg); transform: rotate(360deg); }
}
@-moz-keyframes pace-spinner {
  0% { -moz-transform: rotate(0deg); transform: rotate(0deg); }
  100% { -moz-transform: rotate(360deg); transform: rotate(360deg); }
}
@-o-keyframes pace-spinner {
  0% { -o-transform: rotate(0deg); transform: rotate(0deg); }
  100% { -o-transform: rotate(360deg); transform: rotate(360deg); }
}
@-ms-keyframes pace-spinner {
  0% { -ms-transform: rotate(0deg); transform: rotate(0deg); }
  100% { -ms-transform: rotate(360deg); transform: rotate(360deg); }
}
@keyframes pace-spinner {
  0% { transform: rotate(0deg); transform: rotate(0deg); }
  100% { transform: rotate(360deg); transform: rotate(360deg); }
}

@media screen and (max-width: 767px) 
.table-responsive>.table>tbody>tr>td, .table-responsive>.table>tbody>tr>th, .table-responsive>.table>tfoot>tr>td, .table-responsive>.table>tfoot>tr>th, .table-responsive>.table>thead>tr>td, .table-responsive>.table>thead>tr>th { 
white-space: inherit !important; 
}