<table width="100%%" border="0" cellpadding="0" cellspacing="0" bgcolor="#ffffff" style="width:100%%;margin:0;padding:0;font-family:'Helvetica Neue','Helvetica',Helvetica,Arial,sans-serif;font-size:100%%;line-height:1.6;border-collapse:separate;border:1px solid #dddddd;border-radius:5px;box-shadow: 0px 2px 0px 0px #b4b4b4;">
	<tbody border="0" style="margin:0;padding:0;">
		<tr border="0" style="margin:0;padding:0;font-family:'Helvetica Neue','Helvetica',Helvetica,Arial,sans-serif;font-size:100%%;line-height:1.6;border-collapse:separate">
			<td border="0" height="60" bgcolor="#f26523" align="center" align=center style="-webkit-text-size-adjust:none;color:white;border-radius:5px 5px 0 0;background-image: url({{adminPanelUrl}}/static/img/email/bg_orange.jpg);background-size:cover;font-size: 24px; margin:0;padding:0;font-family:'Helvetica Neue','Helvetica',Helvetica,Arial,sans-serif;line-height:1.6;border-collapse:separate">
				<b>Аудиоролик на модерации</b>
			</td>
		</tr>
		<tr border="0" style="margin:0;padding:0;"><td border="0" height="15" style="margin:0;padding:0;"><br></td></tr>
		<tr border="0" style="margin:0;padding:0;font-family: Georgia, Times, 'Times New Roman', serif;font-size:100%%;line-height:1.6;border-collapse:separate">
			<td border="0" height="25"  align="center" style="-webkit-text-size-adjust:none;color:black;margin:0;padding:0;font-family: Georgia, Times, 'Times New Roman', serif;font-size:19px;line-height:25px;border-collapse:separate">
			   Требуется отмодерировать аудиоролик
			</td>
		</tr>
		
		<tr border="0" style="margin:0;padding:0;font-family: Georgia, Times, 'Times New Roman', serif;font-size:100%%;line-height:1.6;border-collapse:separate">
			<td border="0"  align="center" style="-webkit-text-size-adjust:none;color:black;margin:0;padding:0;font-family: Georgia, Times, 'Times New Roman', serif;font-size:19px;line-height:25px;border-collapse:separate">
			   %(text)s
			</td>
		</tr>
	</tbody>
</table>